body div .product .posted_in {
    display: block;
    margin-bottom: 15px;
}

body div .product .posted_in a {
    color: #fff;
    background-color: #2997ab;
    border-color: transparent;
    border-radius: 100px;
    text-transform: uppercase;
    display: inline-block;
    padding: 0 15px;
    font-size: 10px;
}

.woocommerce-loop-product__title + div{
    line-height: 1.1!important;
    font-size: 0.8em!important;
}